/* 
$altura-menu-fijo: 75px !default;
$borde-general: 12px !default;
$padding-horizontal: 2.5rem !default;
$padding-vertical: 2.5rem !default; */
/* 
// -------- RESPONSIVE --------
$altura-menu-fijo-mobile: 67px !default;
$padding-horizontal-mobile: 0.5rem !default;
$padding-vertical-mobile: 2rem !default;

// Las media query se generan dinamicamente !
// En base al siguiente mapa:
$mq-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) !default;

$mq-breakpoints-subtract: 0.02px !default;  // Hack para evitar error logico en las condiciones de las media queries */
/* Colores del proyecto */
/* -------- CSS Custom properties -------- */
:root {
  font-size: 21px;
  /* Tipografias */
  --font-family-general: "Roboto", sans-serif;
  --font-family-espersonal: "Caesar Dressing", cursive;
  --font-family-copyright: "Satisfy", cursive;
  /* General */
  --altura-completa: 100vh;
  /* Colores del sitio */
  --color-logo: #0D0D0D;
  --color-textos: #484848;
  --color-primario: #BE0B0B;
  --color-secundario: #866B47;
  --color-fondo: #FFFFFF;
  --color-icono-fondo: #787878;
}

/* -------- GENERAL -------- */
/* a {
    color: var(--color-queso);
    text-decoration: none;

    &:active {
        color: var(--color-tomate);
    }

    &:hover {
        color: var(--color-blanco);
    }

    &:visited {
        color: var(--color-rojo-intenso);
    }
}*/
body {
  background-color: var(--color-gris);
  color: var(--color-textos);
  font-family: var(--font-family-general);
  /* line-height: 22px; */
  font-size: 0.8rem;
}

strong {
  font-weight: bolder;
}

/*

em {
    text-decoration: underline;
}

figure {
    margin: 0;
}*/
h1 {
  color: var(--color-logo);
  font-family: var(--font-family-espersonal);
  font-size: 1.8rem;
  line-height: unset;
  margin: unset;
}

/*
h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

h3 { font-size: 1rem; }
*/
/*
i { font-size: 2rem; }

section {
    padding: var(--padding-vertical) 0;
    position: relative;
}
*/
small {
  font-size: 0.7rem;
  user-select: none;
}

/*strong {
    color: var(--color-queso);
    font-family: var(--font-family-ipizza);

    &:hover {
        color: var(--color-blanco);
    }
} */
small.datos-de-acceso {
  color: var(--color-icono-fondo);
  font-style: italic;
}

small .desarrollador {
  display: inline;
  font-family: var(--font-family-copyright);
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

/* -------- HEADER -------- */
.header {
  position: relative;
  padding: 32px 32px 0;
  margin-bottom: 8px;
}

.header,
.subheader {
  user-select: none;
}

/* -------- LOGO -------- */
.logo {
  color: var(--color-logo);
  font-family: var(--font-family-espersonal);
  font-size: 2.3rem;
  user-select: none;
}
.logo .eslogan {
  color: var(--color-secundario);
  font-size: 0.9rem;
}
.logo .eslogan :visited,
.logo .eslogan :active {
  color: var(--color-secundario);
}
.logo:visited, .logo:active {
  color: var(--color-logo);
}

.header .logo {
  font-size: 1.8rem;
}
.header .logo .eslogan {
  font-size: 0.7rem;
}

/* -------- index.html -------- */
section.video-marketing video {
  height: 100%;
  object-fit: cover;
}

section.login {
  background: linear-gradient(to left, #ece9e6, #ffffff);
  padding-top: 30px;
}

/* -------- pizarra.html -------- */
#usuario-logeado {
  text-transform: uppercase;
}

section.navegacion {
  display: inline-block;
  position: fixed;
  left: 0;
  width: 20%;
}
section.navegacion .sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: inherit;
  margin: 0;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  height: inherit;
  padding-bottom: 10px;
  background-color: #fff;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

section.pizarra {
  background: linear-gradient(to left, #ece9e6, #ffffff);
  display: inline-block;
  margin-left: 20%;
  padding: 32px;
  width: 80%;
}
section.pizarra div.s12 {
  margin-bottom: 20px;
}
section.pizarra .btn-edit,
section.pizarra .btn-delete {
  visibility: hidden;
}
section.pizarra table.highlight > tbody > tr:hover {
  color: var(--color-logo);
  font-weight: bolder;
}
section.pizarra table.highlight > tbody > tr:hover .btn-edit,
section.pizarra table.highlight > tbody > tr:hover .btn-delete {
  visibility: visible;
}

section.detalle-pizarra #total-de-items,
section.detalle-pizarra #total-ingresos,
section.detalle-pizarra #total-egresos,
section.detalle-pizarra #balance {
  font-weight: bolder;
}
section.detalle-pizarra > .col {
  border-left: 1px solid var(--color-icono-fondo);
  padding: 0.4rem 1.5rem;
}
section.detalle-pizarra > .col:first-child {
  border-left: unset;
  padding: 0.4rem 0;
}

/* @import 'views/pedidos';
@import 'views/nosotros';
@import 'views/contacto';
@import 'views/armala';

@import 'layout/footer';
*/
/* -------- FLEX Login -------- */
section.login,
section.login .logo {
  flex-direction: column;
}

section.login {
  justify-content: space-around;
}

section.login .logo {
  display: flex;
  align-items: center;
}

/* -------- GRID General -------- */
.row {
  margin-bottom: 12px;
}

/* -------- MENU -------- */
/*@import 'components/menu-mobile';
@import 'components/tarjetas';
@import 'components/carousel';*/
/* -------- ICONOS -------- */
i.medium {
  font-size: 3rem;
}

i.material-icons {
  user-select: none;
}

h1 + i.material-icons {
  color: var(--color-logo);
  margin-left: 1rem;
}

/* -------- MODALES -------- */
.modal {
  max-height: 80%;
}

/* -------- BOTONES -------- */
.btn,
.btn-flat {
  font-size: 0.8rem;
}

.btn-flotante {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}

/* -------- FORMULARIOS -------- */
form {
  user-select: none;
}

.input-field {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

/* label color */
.input-field label {
  color: var(--color-textos);
  font-family: var(--font-family-general);
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label {
  font-weight: bold;
  color: var(--color-secundario) !important;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus {
  border-bottom: 1px solid var(--color-secundario) !important;
  box-shadow: 0 1px 0 0 var(--color-secundario) !important;
}

[type=radio]:checked + span:after, [type=radio].with-gap:checked + span:before, [type=radio].with-gap:checked + span:after {
  border: 2px solid #866B47;
}

[type=radio]:checked + span:after, [type=radio].with-gap:checked + span:after {
  background-color: #866B47;
}

.tipo-de-item {
  display: inline-block;
  margin-right: 1rem;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: var(--color-textos);
}

/*@import 'components/animaciones'; */
/* -------- BROWSER -------- */
::selection {
  background: var(--color-secundario);
  color: var(--color-fondo);
}

/* -------- Browser Chrome-------- */
::-webkit-scrollbar {
  width: 8px;
  background-color: var(--color-fondo);
}

::-webkit-scrollbar-track {
  background-color: var(--color-fondo);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-textos);
}

/* -------- CSS Tricks -------- */
.wrap-animation {
  overflow: hidden;
}

.h-visible {
  height: var(--altura-completa);
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.row-v-align {
  /* Mi propio hack, para trabajar con h-visible */
  align-items: center;
  height: 100%;
}

:target::before {
  /* Solucion a exceso de desplazamiento de links internos por menu fijo */
  content: "";
  display: block;
  height: var(--altura-menu-fijo);
  margin-top: calc(0px - var(--altura-menu-fijo));
}

/*# sourceMappingURL=style.css.map */
