@charset "UTF-8";
/* 
$altura-menu-fijo: 75px !default;
$borde-general: 12px !default;
$padding-horizontal: 2.5rem !default;
$padding-vertical: 2.5rem !default; */
/* 
// -------- RESPONSIVE --------
$altura-menu-fijo-mobile: 67px !default;
$padding-horizontal-mobile: 0.5rem !default;
$padding-vertical-mobile: 2rem !default;

// Las media query se generan dinamicamente !
// En base al siguiente mapa:
$mq-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) !default;

$mq-breakpoints-subtract: 0.02px !default;  // Hack para evitar error logico en las condiciones de las media queries */
/* Colores del proyecto */
/* -------- CSS Custom properties -------- */
:root {
  font-size: 21px;
  /* Tipografias */
  --font-family-general: "Roboto", sans-serif;
  --font-family-espersonal: "Caesar Dressing", cursive;
  --font-family-copyright: "Satisfy", cursive;
  /* General */
  --altura-completa: 100vh;
  /* Colores del sitio */
  --color-logo: #0D0D0D;
  --color-textos: #484848;
  --color-primario: #BE0B0B;
  --color-secundario: #866B47;
  --color-fondo: #FFFFFF;
  --color-icono-fondo: #787878;
}

/* -------- GENERAL -------- */
/* a {
    color: var(--color-queso);
    text-decoration: none;

    &:active {
        color: var(--color-tomate);
    }

    &:hover {
        color: var(--color-blanco);
    }

    &:visited {
        color: var(--color-rojo-intenso);
    }
}*/
body {
  background: linear-gradient(to left, #ece9e6 20%, #ffffff 80%);
  color: var(--color-textos);
  font-family: var(--font-family-general);
  /* line-height: 22px; */
  font-size: 0.8rem;
}

strong {
  font-weight: bolder;
}

/*

em {
    text-decoration: underline;
}

figure {
    margin: 0;
}*/
h1 {
  color: var(--color-logo);
  font-family: var(--font-family-espersonal);
  font-size: 1.7rem;
  line-height: unset;
  margin: unset;
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}

/*
h3 { font-size: 1rem; }
*/
/*
i { font-size: 2rem; }

section {
    padding: var(--padding-vertical) 0;
    position: relative;
}
*/
main {
  margin-left: 20%;
  padding: 32px;
  width: 80%;
}

small {
  font-size: 0.7rem;
  user-select: none;
}

/*strong {
    color: var(--color-queso);
    font-family: var(--font-family-ipizza);

    &:hover {
        color: var(--color-blanco);
    }
} */
.sidenav li > a:hover {
  font-weight: bolder;
}

/* -------- HEADER -------- */
.sidenav .header {
  position: relative;
  padding: 32px 32px 0;
  margin-bottom: 8px;
  user-select: none;
}
.sidenav .subheader {
  user-select: none;
}

.card-header {
  padding: 32px 10px 0;
  margin-bottom: 8px;
}

.card i.material-icons {
  padding-top: 20px;
}

/* -------- LOGO -------- */
.logo {
  color: var(--color-logo);
  font-family: var(--font-family-espersonal);
  font-size: 2.3rem;
  user-select: none;
}
.logo .eslogan {
  color: var(--color-secundario);
  font-size: 0.9rem;
}
.logo .eslogan :visited,
.logo .eslogan :active {
  color: var(--color-secundario);
}
.logo:visited, .logo:active {
  color: var(--color-logo);
}

.header .logo {
  font-size: 1.6rem;
}
.header .logo .eslogan {
  font-size: 0.6rem;
}

/* -------- index.html -------- */
section.login {
  background: linear-gradient(to left, #ece9e6, #ffffff);
  padding-top: 30px;
}

section.video-marketing video {
  height: 100%;
  object-fit: cover;
}

small.copyright {
  text-align: center;
}
small.datos-de-acceso {
  color: var(--color-icono-fondo);
  font-style: italic;
}
small .desarrollador {
  display: inline;
  font-family: var(--font-family-copyright);
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.error {
  font-size: 0.7rem;
  font-weight: bolder;
  height: 1rem;
}
.error > div {
  display: none;
}

/* -------- pizarra.html -------- */
section.navegacion .sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 20%;
}
section.navegacion .sidenav #usuario-logeado {
  text-transform: uppercase;
}

section.pizarra div.d-flex:hover {
  color: #795548;
}
section.pizarra div.s12 {
  margin-bottom: 20px;
}
section.pizarra #pizarra-seleccionada td.valor-positivo::before {
  content: "+ ";
}
section.pizarra #pizarra-seleccionada td.valor-negativo::before {
  content: "- ";
}
section.pizarra .btn-edit,
section.pizarra .btn-delete {
  cursor: pointer;
  user-select: none;
  visibility: hidden;
}
section.pizarra table.highlight > tbody > tr:hover {
  color: var(--color-logo);
  font-weight: bolder;
}
section.pizarra table.highlight > tbody > tr:hover .btn-edit,
section.pizarra table.highlight > tbody > tr:hover .btn-delete {
  visibility: visible;
}

section.pizarra-informacion #total-de-items,
section.pizarra-informacion #total-ingresos,
section.pizarra-informacion #total-egresos,
section.pizarra-informacion #balance {
  font-weight: bolder;
}
section.pizarra-informacion > .col {
  border-left: 1px solid var(--color-icono-fondo);
  padding: 0.4rem 1rem;
}
section.pizarra-informacion > .col:first-child {
  border-left: unset;
  padding: 0.4rem 1rem 0.4rem 0.75rem;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  section.navegacion .sidenav {
    width: 25%;
  }

  main {
    margin-left: 25%;
    width: 75%;
  }
}
@media only screen and (max-width: 992px) {
  section.navegacion .sidenav {
    width: 280px;
  }

  main {
    margin-left: 0;
    padding: 0.4rem;
    width: 100%;
  }

  section.pizarra .btn-edit,
section.pizarra .btn-delete {
    visibility: visible;
  }

  section.pizarra-informacion > .col {
    border-left: unset;
    padding: 0.4rem 0.5rem 0.4rem 0.75rem;
  }
  section.pizarra-informacion > .col:first-child {
    border-left: unset;
    padding: 0.4rem 0.5rem 0.4rem 0.75rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .d-flex {
    flex-direction: column;
  }
}
/* @import 'views/pedidos';
@import 'views/nosotros';
@import 'views/contacto';
@import 'views/armala';

@import 'layout/footer';
*/
/* -------- FLEX Login -------- */
section.login,
section.login .logo {
  flex-direction: column;
}

section.login {
  justify-content: space-around;
}

section.login .logo {
  display: flex;
  align-items: center;
}

/* -------- GRID General -------- */
.row {
  margin-bottom: 12px;
}

/* -------- MENU -------- */
/*@import 'components/menu-mobile';
@import 'components/tarjetas';
@import 'components/carousel';*/
table tr th {
  cursor: pointer;
  user-select: none;
}
table tr th:nth-child(4) {
  cursor: initial;
}

.asc::after,
.desc::after {
  margin-left: 5px;
}

.asc::after {
  content: "↑";
}

.desc::after {
  content: "↓";
}

.aviso {
  font-size: 0.7rem;
  padding: 8px 13px;
  position: fixed;
  right: 23px;
}

section.grafico h2 {
  margin-bottom: 1rem;
}

.contenedor-etiquetas div {
  margin-bottom: 10px;
}
.contenedor-etiquetas .barra-de-color {
  display: inline-block;
  height: 2.5rem;
  margin-right: 5px;
  width: 0.3rem;
}

/* -------- ICONOS -------- */
i.medium {
  font-size: 3rem;
}

i.material-icons {
  user-select: none;
}

h1 + i.material-icons {
  color: var(--color-logo);
  margin-left: 1rem;
}

/* -------- MODALES -------- */
.modal {
  max-height: 80%;
}

/* -------- BOTONES -------- */
.btn,
.btn-flat {
  font-size: 0.8rem;
}

.btn-flotante {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}

.btn-menu-mobile i.right {
  margin-left: 0;
}

/* -------- FORMULARIOS -------- */
form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  user-select: none;
}

.input-field {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

/* label color */
.input-field label {
  color: var(--color-textos);
  font-family: var(--font-family-general);
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=number]:focus + label,
.input-field input[type=password]:focus + label {
  font-weight: bold;
  color: var(--color-secundario) !important;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=number]:focus,
.input-field input[type=password]:focus {
  border-bottom: 1px solid var(--color-secundario) !important;
  box-shadow: 0 1px 0 0 var(--color-secundario) !important;
}

[type=radio]:checked + span:after, [type=radio].with-gap:checked + span:before, [type=radio].with-gap:checked + span:after {
  border: 2px solid #866B47;
}

[type=radio]:checked + span:after, [type=radio].with-gap:checked + span:after {
  background-color: #866B47;
}

/* Quitando botones de los input tipo number */
form input[type=number] {
  -moz-appearance: textfield;
}
form input[type=number]::-webkit-inner-spin-button, form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* FIN Quitando botones de los input tipo number */
.contenedor-radio-tipo {
  display: inline-block;
  margin-right: 1rem;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: var(--color-textos);
}

/* **********     ContactForm Validations     ********** */
form [required]:invalid + label {
  color: var(--form-error-color) !important;
}

form [required]:invalid:focus {
  border-bottom: 1px solid var(--form-error-color) !important;
  box-shadow: 0 1px 0 0 var(--form-error-color) !important;
}

.form-error {
  color: var(--form-error-color);
  font-size: 0.6rem;
  font-weight: bolder;
  margin-top: -0.2rem;
  text-align: justify;
  transition: all 800ms ease;
}
.form-error.mostrar-form-error {
  display: block;
  animation: show-message 2s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
/*@import 'components/animaciones'; */
/* -------- BROWSER -------- */
::selection {
  background: var(--color-secundario);
  color: var(--color-fondo);
}

/* -------- Browser Chrome-------- */
::-webkit-scrollbar {
  width: 8px;
  background-color: var(--color-fondo);
}

::-webkit-scrollbar-track {
  background-color: var(--color-fondo);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-textos);
}

/* -------- CSS Tricks -------- */
.wrap-animation {
  overflow: hidden;
}

.h-visible {
  height: var(--altura-completa);
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.d-flex {
  display: flex;
}

.row-v-align {
  /* Mi propio hack, para trabajar con h-visible */
  align-items: center;
  height: 100%;
}

:target::before {
  /* Solucion a exceso de desplazamiento de links internos por menu fijo */
  content: "";
  display: block;
  height: var(--altura-menu-fijo);
  margin-top: calc(0px - var(--altura-menu-fijo));
}

@media only screen and (max-width: 600px) {
  .flex-s-column {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
