@charset "UTF-8";
/* -------- CSS Custom properties -------- */
:root {
  font-size: 21px;
  /* Tipografias */
  --font-family-general: "Roboto", sans-serif;
  --font-family-espersonal: "Caesar Dressing", cursive;
  --font-family-copyright: "Satisfy", cursive;
  /* General */
  --altura-completa: 100vh;
  /* Colores del sitio */
  --color-blanco: #FFFFFF;
  --color-detalles: #787878;
  --color-marron: #795548;
  --color-negro: #0D0D0D;
  --color-rojo: #f44336;
  --color-textos: #484848;
}

/* -------- GENERAL -------- */
body {
  background: linear-gradient(to left, #ece9e6, #ffffff);
  color: var(--color-textos);
  font-family: var(--font-family-general);
  font-size: 0.8rem;
}

h1 {
  color: var(--color-negro);
  font-family: var(--font-family-espersonal);
  font-size: 1.6rem;
  line-height: unset;
  margin: unset;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

small {
  font-size: 0.7rem;
  user-select: none;
}
small.copyright {
  text-align: center;
}
small.datos-de-acceso {
  color: var(--color-detalle);
  font-style: italic;
}
small .desarrollador {
  display: inline;
  font-family: var(--font-family-copyright);
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

strong {
  font-weight: bolder;
}

@media only screen and (max-width: 992px) {
  body {
    font-size: 0.7rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  small {
    font-size: 0.6rem;
  }
}
/* -------- HEADER -------- */
.sidenav .header {
  position: relative;
  padding: 32px 32px 0;
  margin-bottom: 8px;
  user-select: none;
}
.sidenav .subheader {
  user-select: none;
}

/* -------- LOGO -------- */
.logo {
  color: var(--color-negro);
  font-family: var(--font-family-espersonal);
  font-size: 2.3rem;
  user-select: none;
}
.logo .eslogan {
  color: var(--color-marron);
  font-size: 0.9rem;
}
.logo .eslogan :visited,
.logo .eslogan :active {
  color: var(--color-marron);
}
.logo:visited, .logo:active {
  color: var(--color-negro);
}
.logo.brand-logo {
  color: var(--color-blanco);
  font-size: 1.6rem;
}

section.navegacion .header .logo {
  font-size: 1.6rem;
}
section.navegacion .header .logo .eslogan {
  font-size: 0.6rem;
}

/* -------- index.html -------- */
section.login {
  background: linear-gradient(to left, #ece9e6, #ffffff);
  padding-top: 30px;
}

section.video-marketing video {
  height: 100%;
  object-fit: cover;
}

/* -------- index.html de la SPA -------- */
#contenedor-spa main {
  margin-left: 20%;
  padding: 32px;
  width: 80%;
}

section.titulo-de-pagina {
  margin-bottom: 0.5rem;
}

section.pizarra section.informacion-pizarra #total-de-items,
section.pizarra section.informacion-pizarra #total-ingresos,
section.pizarra section.informacion-pizarra #total-egresos,
section.pizarra section.informacion-pizarra #balance {
  font-weight: bolder;
}
section.pizarra section.informacion-pizarra > .col {
  border-left: 1px solid var(--color-detalles);
  padding: 0.4rem 1rem;
}
section.pizarra section.informacion-pizarra > .col.d-flex:hover {
  color: #795548;
}
section.pizarra section.informacion-pizarra > .col:first-child {
  border-left: unset;
  padding: 0.4rem 1rem 0.4rem 0.75rem;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #contenedor-spa main {
    margin-left: 25%;
    width: 75%;
  }
}
@media only screen and (max-width: 992px) {
  #contenedor-spa main {
    margin-left: 0;
    padding: 0.3rem;
    padding-top: 0.6rem;
    width: 100%;
  }

  section.pizarra table {
    margin-bottom: 4rem;
  }
  section.pizarra section.informacion-pizarra > .col {
    border-left: unset;
    padding: 0.4rem 0.5rem 0.4rem 0.75rem;
  }
  section.pizarra section.informacion-pizarra > .col:first-child {
    border-left: unset;
    padding: 0.4rem 0.5rem 0.4rem 0.75rem;
  }
}
/* -------- FLEX Login -------- */
section.login {
  flex-direction: column;
  justify-content: space-around;
}
section.login .logo {
  align-items: center;
  flex-direction: column;
}

/* -------- FLEX SPA -------- */
section.navegacion .sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* -------- FLEX SPA - Pizarra -------- */
@media screen and (max-width: 600px) {
  section.pizarra table tbody td:nth-of-type(4) {
    display: flex;
  }
  section.pizarra table tbody td:nth-of-type(4) a:first-child {
    order: 1;
  }
}
/* -------- GRID General -------- */
.row {
  margin-bottom: 0.6rem;
}

/* -------- GRID SPA - Pizarra -------- */
@media screen and (max-width: 600px) {
  section.pizarra table tbody td:nth-of-type(1) {
    grid-area: tipo;
  }
  section.pizarra table tbody td:nth-of-type(2) {
    grid-area: categoria;
  }
  section.pizarra table tbody td:nth-of-type(3) {
    grid-area: nombre;
  }
  section.pizarra table tbody td:nth-of-type(4) {
    grid-area: botones;
  }
  section.pizarra table tbody td:nth-of-type(5) {
    grid-area: monto;
  }
  section.pizarra table tbody tr {
    display: grid;
    grid-template-areas: "tipo nombre ." "categoria monto botones";
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto;
  }
}
/* -------- BOTONES -------- */
.btn,
.btn-flat {
  font-size: 0.8rem;
}

.btn-flotante {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}

.btn-menu-mobile i.right {
  margin-left: 0;
}

.btn-edit,
.btn-delete {
  cursor: pointer;
  user-select: none;
  visibility: hidden;
}

@media only screen and (max-width: 992px) {
  .btn-edit,
.btn-delete {
    visibility: visible;
  }
}
/* -------- FORMULARIOS -------- */
form {
  --form-error-color: #f44336;
  --form-inputs-margin: 0.8rem;
  user-select: none;
}
form .none {
  display: none;
}

.input-field {
  margin: var(--form-inputs-margin) 0 var(--form-inputs-margin);
}
.input-field p {
  margin: 0;
}
.input-field p.radio-header {
  font-size: 0.9rem;
  margin-bottom: var(--form-inputs-margin);
}
.input-field.select-container {
  margin-top: calc(2 * var(--form-inputs-margin));
}
.input-field.select-container .dropdown-content li > a,
.input-field.select-container .dropdown-content li > span {
  color: var(--color-textos);
}
.input-field .contenedor-radio-tipo {
  display: inline-block;
  margin-right: 1rem;
}
.input-field .contenedor-radio-tipo:last-child {
  margin-right: unset;
}
.input-field .contenedor-radio-tipo input[type=radio]:not(:checked) + span, .input-field .contenedor-radio-tipo input[type=radio]:checked + span {
  font-size: inherit;
}
.input-field .contenedor-radio-tipo input[type=radio]:checked + span:after, .input-field .contenedor-radio-tipo input[type=radio].with-gap:checked + span:before, .input-field .contenedor-radio-tipo input[type=radio].with-gap:checked + span:after {
  border: 2px solid var(--color-marron);
}
.input-field .contenedor-radio-tipo input[type=radio]:checked + span:after, .input-field .contenedor-radio-tipo input[type=radio].with-gap:checked + span:after {
  background-color: var(--color-marron);
}
.input-field label {
  color: var(--color-textos);
  font-size: 0.9rem;
}
.input-field input[type=text]:focus + label,
.input-field input[type=number]:focus + label,
.input-field input[type=password]:focus + label {
  font-weight: bold;
  color: var(--color-marron) !important;
}
.input-field input[type=text]:focus,
.input-field input[type=number]:focus,
.input-field input[type=password]:focus {
  border-bottom: 1px solid var(--color-marron) !important;
  box-shadow: 0 1px 0 0 var(--color-marron) !important;
}

/* -------- VALIDACION DE FORMULARIOS -------- */
.form-error {
  color: var(--form-error-color);
  border-top: 2px solid var(--form-error-color);
  font-size: 0.6rem;
  font-weight: bolder;
  margin-top: -0.45rem;
  padding-top: 0.4rem;
  text-align: justify;
  transition: all 800ms ease;
}
.form-error.mostrar-form-error {
  display: block;
  animation: show-message 2s 1 normal 0s ease-out both;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
/* -------- FIN - VALIDACION DE FORMULARIOS -------- */
@media only screen and (max-width: 600px) {
  .input-field p.radio-header {
    font-size: 0.8rem;
  }
  .input-field.select-container .dropdown-content li > a,
.input-field.select-container .dropdown-content li > span {
    font-size: 0.7rem;
  }
  .input-field label {
    font-size: 0.8rem;
  }

  .form-error {
    font-size: 0.5rem;
  }
}
/* -------- GRÁFICOS -------- */
section.grafico h2 {
  margin-bottom: 1rem;
}
section.grafico .legend-container > div {
  margin-bottom: 1rem;
  padding: 0;
}
section.grafico .legend-container .barra-de-color {
  display: inline-block;
  height: 2.5rem;
  margin-right: 5px;
  width: 0.3rem;
}
section.grafico .legend-container .etiqueta-info {
  display: inline-block;
  margin-left: 5px;
}

@media only screen and (max-width: 992px) {
  section.grafico h2 {
    margin-bottom: 0.8rem;
  }
  section.grafico #contenedor-grafico-egresos > div:first-child {
    margin-bottom: 0.8rem;
  }
  section.grafico .legend-container .barra-de-color {
    display: inline-block;
    height: 4.2rem;
    margin-right: 5px;
    width: 0.3rem;
  }
}
/* -------- ICONOS -------- */
i.small {
  font-size: 2rem;
}

i.medium {
  font-size: 2.5rem;
}

i.material-icons {
  user-select: none;
}

h1 + i.material-icons {
  color: var(--color-negro);
  margin-left: 1rem;
}

@media only screen and (max-width: 992px) {
  i.small {
    font-size: 1.8rem;
  }

  i.medium {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 600px) {
  i.small {
    font-size: 1.5rem;
  }

  i.medium {
    font-size: 1.8rem;
  }
}
/* -------- MENÚ -------- */
section.navegacion .sidenav {
  padding-bottom: 10px;
  width: 20%;
}
section.navegacion .sidenav li > a:hover {
  font-weight: bolder;
}
section.navegacion .sidenav .usuario-logeado {
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  section.navegacion .sidenav {
    width: 25%;
  }
}
@media only screen and (max-width: 992px) {
  section.navegacion .sidenav {
    width: 280px;
  }
}
/* -------- MODALES -------- */
.modal {
  max-height: 80%;
}
.modal .modal-header {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#modal-eliminar-item .datos-del-item {
  margin-bottom: 0.7rem;
}
#modal-eliminar-item .datos-del-item:last-child {
  margin-bottom: unset;
}
#modal-eliminar-item .datos-del-item p {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .modal .modal-header {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}
/* -------- NOTIFICACIONES -------- */
.error {
  font-size: 0.7rem;
  font-weight: bolder;
  height: 1rem;
}
.error > div {
  display: none;
}

.notificacion {
  font-size: 0.7rem;
  padding: 8px 13px;
  position: fixed;
  right: 23px;
}

/* -------- TABLAS -------- */
section.pizarra table thead th {
  cursor: pointer;
  user-select: none;
}
section.pizarra table thead th:nth-child(4) {
  cursor: initial;
}
section.pizarra table thead th.asc::after, section.pizarra table thead th.desc::after {
  margin-left: 5px;
}
section.pizarra table thead th.asc::after {
  content: "↑";
}
section.pizarra table thead th.desc::after {
  content: "↓";
}
section.pizarra table tbody > tr:hover {
  color: var(--color-logo);
  font-weight: bolder;
}
section.pizarra table tbody > tr:hover .btn-edit,
section.pizarra table tbody > tr:hover .btn-delete {
  visibility: visible;
}
section.pizarra table tbody td .valor-positivo::before {
  content: "+ ";
}
section.pizarra table tbody td .valor-negativo::before {
  content: "- ";
}

@media screen and (max-width: 600px) {
  section.pizarra table thead {
    display: none;
  }
  section.pizarra table tbody td:before {
    content: attr(data-th);
    display: block;
    text-align: center;
  }
}
/* -------- TARJETAS -------- */
.card-categoria {
  --card-padding: 14px;
}
.card-categoria .card {
  margin-bottom: 2rem;
  padding: var(--card-padding);
}
.card-categoria .card .barra-de-color {
  display: inline-block;
  height: 2.5rem;
  margin-right: 5px;
  width: 0.3rem;
}
.card-categoria .card .card-header {
  padding-left: 10px;
}
.card-categoria .card .card-stacked {
  margin-left: 16px;
}
.card-categoria .card .card-stacked .card-content {
  padding: 0;
}
.card-categoria .card .categoria-ejemplos {
  display: block;
  font-style: italic;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .card-categoria .card {
    height: 160px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .card-categoria .card {
    height: 143px;
  }
}
@media only screen and (max-width: 600px) {
  .card-categoria .card .barra-de-color {
    display: inline-block;
    height: 1.8rem;
    margin-right: 5px;
    width: 0.3rem;
  }
}
/* -------- BROWSER -------- */
::selection {
  background: var(--color-marron);
  color: var(--color-blanco);
}

/* -------- Browser Chrome-------- */
::-webkit-scrollbar {
  width: 8px;
  background-color: var(--color-blanco);
}

::-webkit-scrollbar-track {
  background-color: var(--color-blanco);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-textos);
}

/* -------- CSS Tricks -------- */
.d-flex {
  display: flex;
}

.h-visible {
  height: var(--altura-completa);
}

.m-0 {
  margin: 0 !important;
}

.ms-0 {
  margin-left: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

@media only screen and (max-width: 992px) {
  .flex-sm-align-start {
    align-items: flex-start;
  }

  .flex-sm-column {
    flex-direction: column;
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .flex-m-column {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .flex-s-column {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
