/* -------- FLEX Login -------- */
section.login {
    flex-direction: column;
    justify-content: space-around;

    .logo {
        align-items: center;
        flex-direction: column;
    }
}

/* -------- FLEX SPA -------- */
section.navegacion {
    .sidenav {
        display: flex;
            flex-direction: column;
            justify-content: space-between;
    }
}

/* -------- FLEX SPA - Pizarra -------- */
@media screen and (max-width: 600px) {
    section.pizarra {
        table {
            tbody {
                td {
                    &:nth-of-type(4) {
                        display: flex;

                        a:first-child {
                            order: 1;
                        }
                    }
                }
            } 
        }
    }
}