/* -------- FLEX Login -------- */
section.login {
    flex-direction: column;
    justify-content: space-around;

    .logo {
        align-items: center;
        flex-direction: column;
    }
}

/* -------- FLEX SPA -------- */
section.navegacion {
    .sidenav {
        display: flex;
            flex-direction: column;
            justify-content: space-between;
    }
}