/* -------- LOGO -------- */
.logo {
    color: var(--color-negro);
    font-family: var(--font-family-espersonal);
    font-size: 2.3rem;
    user-select: none;

    .eslogan {
        color: var(--color-marron);
        font-size: 0.9rem;

        :visited,
        :active {
            color: var(--color-marron);
        }
    }

    &:visited,
    &:active {
        color: var(--color-negro);
    }

    &.brand-logo {
        color: var(--color-blanco);
        font-size: 1.6rem;
    }
}

section.navegacion .header {
    .logo {
        font-size: 1.6rem;

        .eslogan {
            font-size: 0.6rem;
        }
    }
}