/* -------- BOTONES -------- */
.btn,
.btn-flat {
    font-size: 0.8rem;
}

.btn-flotante {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}

.btn-menu-mobile {
    i.right {
        margin-left: 0;
    }
}

.btn-edit,
.btn-delete {
    cursor: pointer;
    user-select: none;
    visibility: hidden;
}

@media only screen and (max-width : 992px) {
    .btn-edit,
    .btn-delete {
        visibility: visible;
    }
}