@use 'sass:meta';
@import '../base/config';
@import '../base/colores';
@import '../base/tipografias';

/* -------- CSS Custom properties -------- */
:root {
    font-size: #{$font-size-general};

        /* Tipografias */
        --font-family-general: #{meta.inspect($font-family-general)};
        --font-family-espersonal: #{meta.inspect($font-family-espersonal)};
        --font-family-copyright: #{meta.inspect($font-family-copyright)};

        /* General */
        --altura-completa: #{$altura-completa};

        /* Colores del sitio */
        --color-blanco: #{$color-blanco};
        --color-detalles: #{$color-detalles};
        --color-marron: #{$color-marron};
        --color-negro: #{$color-negro};
        --color-rojo: #{$color-rojo};
        --color-textos: #{$color-textos};
}