/* -------- FORMULARIOS -------- */
form {
    --form-error-color: #f44336;
    --form-inputs-margin: 0.8rem;
    user-select: none;

    .none {
        display: none;
    }
}

.input-field {
    margin: var(--form-inputs-margin) 0 var(--form-inputs-margin);

    p {
        margin: 0;

        &.radio-header {
            font-size: 0.9rem;
            margin-bottom: var(--form-inputs-margin);
        }
    }

    &.select-container {
        margin-top: calc(2 * var(--form-inputs-margin));

        // -------- INICIO - Colores de opciones de select --------
        .dropdown-content {
            li > a,
            li > span {
                color: var(--color-textos);
            }
        }
        // -------- FIN - Colores de opciones de select --------
    }

    .contenedor-radio-tipo {
        display: inline-block;
        margin-right: 1rem;

        &:last-child {
            margin-right: unset;
        }

        input[type=radio] {
            &:not(:checked)+span, 
            &:checked+span {
                font-size: inherit;
            }

            // -------- INICIO - Colores de botones de radio --------
            &:checked+span:after,
            &.with-gap:checked+span:before,
            &.with-gap:checked+span:after {
                border: 2px solid var(--color-marron);
            }

            &:checked+span:after,
            &.with-gap:checked+span:after {
                background-color: var(--color-marron);
            }
            // -------- FIN - Colores de botones de radio --------
        }
    }

    // -------- Label --------
    label {
        color: var(--color-textos);
        font-size: 0.9rem;
    }

    // -------- Label [cuando tienen foco determinados inputs] --------
    input[type=text]:focus+label,
    input[type=number]:focus+label,
    input[type=password]:focus+label {
        font-weight: bold;
        color: var(--color-marron) !important;
    }

    // -------- Color del subrayado de determinados inputs [cuando tienen foco] -------- 
    input[type=text]:focus,
    input[type=number]:focus,
    input[type=password]:focus {
        border-bottom: 1px solid var(--color-marron) !important;
        box-shadow: 0 1px 0 0 var(--color-marron) !important;
    }
}


/* -------- VALIDACION DE FORMULARIOS -------- */
.form-error {
    color: var(--form-error-color);
    border-top: 2px solid var(--form-error-color);
    font-size: 0.6rem;
    font-weight: bolder;
    margin-top: -0.45rem;
    padding-top: 0.4rem;
    text-align: justify;
    transition: all 800ms ease;

    &.mostrar-form-error {
        display: block;
        animation: show-message 2s 1 normal 0s ease-out both;
    }
}

@keyframes show-message {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}
/* -------- FIN - VALIDACION DE FORMULARIOS -------- */

@media only screen and (max-width : 600px) {
    .input-field {
        p {
            &.radio-header {
                font-size: 0.8rem;
            }
        }

        &.select-container {
            .dropdown-content {
                li > a,
                li > span {
                    font-size: 0.7rem;
                }
            }
        }

        label {
            font-size: 0.8rem;
        }
    }
}