@import '../base/mixins';

/* -------- GRÃFICOS -------- */
section.grafico {
    h2 {
        margin-bottom: 1rem;
    }

    .legend-container {
        > div {
            margin-bottom: 1rem;
            padding: 0;
        }
    
        .barra-de-color {
            @include barra-de-color();
        }
    
        .etiqueta-info{
            display: inline-block;
            margin-left: 5px;
        }
    }
}

@media only screen and (max-width : 992px) {
    section.grafico {
        h2 {
            margin-bottom: 0.8rem;
        }

        #contenedor-grafico-egresos {
            & > div:first-child {
                margin-bottom: 0.8rem;
            }
        }

        .legend-container {
            .barra-de-color {
                @include barra-de-color(4.2rem);
            }
        }
    }
}