/* -------- TABLAS -------- */
section.pizarra {
    table {
        thead {
            th {
                cursor: pointer;
                user-select: none;
            
                &:nth-child(4) {
                    cursor: initial;
                }

                &.asc::after,
                &.desc::after {
                    margin-left: 5px;
                }
                
                &.asc::after {
                    content: '↑';
                }
                
                &.desc::after {
                    content: '↓';
                }
            }
        }

        tbody {
            > tr:hover {
                color: var(--color-logo);
                font-weight: bolder;
    
                .btn-edit, 
                .btn-delete {
                    visibility: visible;
                }
            }

            td {
                .valor-positivo::before {
                    content: "+ ";
                }
            
                .valor-negativo::before {
                    content: "- ";
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    section.pizarra {
        table {
            thead {
                display: none;
            }
        
            tbody td:before {
                content: attr(data-th);
                display: block;
                text-align:center;
            }
        }
    }
}
