@import '../base/mixins';

/* -------- TARJETAS -------- */
.card-categoria {
    --card-padding: 14px;

    .card {
        margin-bottom: 2rem;
        padding: var(--card-padding);

        .barra-de-color {
            @include barra-de-color();
        }

        .card-header {
            padding-left: 10px;
        }
    
        .card-stacked {
            margin-left: 16px;
            
            .card-content {
                padding: 0;
            }
        }

        .categoria-ejemplos{
            display: block;
            font-style: italic;
            margin-top: 0.5rem;
        }
    }
}


@media only screen and (min-width: 992px) and (max-width : 1200px) {
    .card-categoria {
        .card {
            height: 160px;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width : 992px) {
    .card-categoria {
        .card {
            height: 143px;
        }
    }
}

@media only screen and (max-width : 600px) {
    .card-categoria {
        .card {
            .barra-de-color {
                @include barra-de-color(1.8rem);
            }
        }
    }
}
