@import '../base/gradientes';

/* -------- index.html -------- */
section.login {
    background: map-get($gradientes, UIg-Clouds);
    padding-top: 30px;
}

section.video-marketing {
    video {
        height: 100%;
        object-fit: cover;
    }
}