/* -------- BROWSER -------- */
::selection { 
    background: var(--color-marron);
    color: var(--color-blanco);
}

/* -------- Browser Chrome-------- */
::-webkit-scrollbar {
    width: 8px;
    background-color: var(--color-blanco);
}

::-webkit-scrollbar-track {
    background-color: var(--color-blanco);
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-textos); 
}