// -------- Colores del proyecto --------
$color-blanco: #FFFFFF !default;
$color-detalles: #787878 !default;
$color-marron: #795548 !default;
$color-negro: #0D0D0D !default;
$color-rojo: #f44336 !default;
$color-textos: #484848 !default;