/* Colores del proyecto */
$color-logo: #0D0D0D !default;
$color-textos: #484848 !default;
$color-primario: #BE0B0B !default;
$color-secundario: #866B47 !default;
$color-fondo: #FFFFFF !default;
$color-icono-fondo: #787878 !default;