// Tipografia general
$font-family-general: 'Roboto', sans-serif !default;

// Tipografia para elementos especiales: Logotipo, Titulos, etc.
$font-family-espersonal: 'Caesar Dressing', cursive !default;

// Tipografia para firmas
$font-family-copyright: 'Satisfy', cursive !default;